<!--/*
    Copyright 2015 Adobe Systems Incorporated
  
    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
  
        http://www.apache.org/licenses/LICENSE-2.0
  
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*/-->
<section class="custom-youtube-section">
    <div class="container">
        <br>
        <h1 class="text-center">
            ${properties.title}
        </h1>
        <br>
        <form id="myForm" autocomplete="off">
            <div class="form-group">
                <input class="form-control" type="text" id="search" placeholder="${properties.searchTopicPlaceHolder}" required>
            </div>
            <div class="form-group">
                <label for="duration">${properties.selectDurationLabel}:</label>
                <select class="form-control" id="duration">
                    <option>any</option>
                    <option>short</option>
                    <option>medium</option>
                    <option>long</option>
                </select>
            </div>
            <div class="form-group">
                <label for="order">${properties.orderByDropDownLabel}:</label>
                <select class="form-control" id="order">
                    <option>relevance</option>
                    <option>viewCount</option>
                    <option>videoCount</option>
                    <option>title</option>
                    <option>rating</option>
                    <option>date</option>
                </select>
            </div>
            <div class="form-group">
                <button id="btn" class="btn btn-danger btn-block">
                    ${properties.searchButtonText}
                </button>
            </div>
        </form>
        <table style="display: none;" id="table" class="table">
            <thead>
            <tr>
                <th>${properties.resultsTitle}</th>
            </tr>
            </thead>
            <tbody id="results">
            </tbody>
        </table>
        <div id="pager">
            <ul id="pagination" class="pagination-sm"></ul>
        </div>
    </div>
</section>